/*TYPOGRAPHY*/
h1 {
    font-size: 2.618rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: left;
}

.hero {
    width: 100%;
    height: 100vh;
    margin-top: -73px;
    padding: 0 50px;
    display: flex;
    align-items: flex-end;
}

.hero-video-large {
    display: none;
}

.hero-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}

@media (min-aspect-ratio: 9/16) {
    .hero-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 9/16) {
    .hero-video {
        width: auto;
        height: 100%;
    }
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 70px;
}

.hero-content a {
    align-self: center;
}

.btn-primary {
    width: 100%;
    min-width: 270px;
}

/* TABLET */
@media (min-width: 768px) {

    /*TYPOGRAPHY*/
    h1 {
        font-size: 3.354rem;
    }

    .btn-primary {
        height: 50px;
        width: 270px;
    }

    .hero {
        margin-top: -77px;
    }

    @media (min-aspect-ratio: 16/9) {
        .hero-video {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .hero-video {
            width: auto;
            height: 100%;
        }
    }

    .hero-video-large {
        display: unset;
    }

    .hero-video-small {
        display: none;
    }

    .hero-content {
        gap: 175px;
        margin-bottom: 70px;
    }
}

/* DESKTOP */
@media (min-width: 1280px) {

    /*TYPOGRAPHY*/
    h1 {
        font-size: 5.625rem;
    }

    .hero {
        margin-top: -84px;
    }

    .hero-content {
        gap: 163px;
        margin-bottom: 50px;
    }
}
