/*TYPOGRAPHY*/
h1 {
    font-size: 1.888rem;
    font-weight: 900;
    letter-spacing: -0.5px;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: -22px;
    padding: 0 50px;
}

.hero-video-large {
    display: none;
}

.hero-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}

@media (min-aspect-ratio: 9/16) {
    .hero-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 9/16) {
    .hero-video {
        width: auto;
        height: 100%;
    }
}

/* TABLET */
@media (min-width: 768px) {
    /*TYPOGRAPHY*/
    h1 {
        font-size: 2.517rem;
    }

    @media (min-aspect-ratio: 16/9) {
        .hero-video {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .hero-video {
            width: auto;
            height: 100%;
        }
    }

    .hero-video-large {
        display: unset;
    }

    .hero-video-small {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 1280px) {
    .hero {
    }
}
