:root {
    --white: #F5F5F5;
    --black: #050206;
    --almost-black: #1A1818;
    --text-gray: #2D2D2D;
    --active-gray: #9E9B9B;
    --bitter-lemon: #CFEC1A;
}

/*TYPOGRAPHY*/
h1 {}

h2 {}

h3 {}

h4 {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
}

p {
    font-size: 1.063rem;
    line-height: 150%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

/*HEADER - NAV*/
.container {
    max-width: 1440px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
}

.navbar .menu-items {
    display: flex;
}

li {
    list-style: none;
}

.navbar, .nav-container a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--almost-black);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
}

a:hover {
    color: var(--bitter-lemon);
}

.nav-container {
    display: block;
    position: relative;
    height: 84px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 22px;
    width: 34px;
    top: 33px;
    right: 16px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 22px;
    width: 34px;
    position: absolute;
    top: 33px;
    right: 16px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--almost-black);
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.5rem;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.logo {
    width: 122px;
    height: 84px;
}

.menu-desktop {
    display: none;
}

/*FOOTER*/
.footer-container {
    background-color: var(--black);
    height: 735px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    width: 143px;
    height: 111px;
    margin-top: 25px;
}

.footer-content-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.footer-list-container {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
}

footer .list-items{
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

footer .list-items li {
    font-size: 1.063rem;
    line-height: 150%;
    font-weight: 400;
    opacity: 90%;
}

.socials-container {
    display: flex;
    gap: 1.969rem;
    justify-content: center;
}

.social-icon {
    color: var(--white);
}

.footer-container .line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--white);
    opacity: 50%;
}

.footer-container small {
    color: var(--active-gray);
}

@media (min-width: 768px) {
    /*HEADER - NAV*/
    .nav-container {
        height: 94px;
    }

    .nav-container .checkbox {
        height: 32px;
        width: 44px;
        top: 31px;
    }

    .nav-container .hamburger-lines {
        height: 32px;
        width: 44px;
        top: 31px;
    }
}

@media (min-width: 1280px) {
    /*HEADER - NAV*/
    .hamburger-menu-container {
        display: none;
    }

    .container {
        width: 100%;
    }

    .nav-container {
        height: 84px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 50px;
    }

    .menu-desktop {
        display: flex;
        gap: 40px;
    }
}