/*DESIGN SYSTEM*/
:root {
    --white: #F5F5F5;
    --black: #050206;
    --text-color: #1A1818;
    --gray: #2D2D2D;
    --active: #9E9B9B;
    --blue: #10407E;
    --orange: #DC4606;
    --gunmetal: #242F40;
    --charcoal: #243037;
    --yellow: #E6FF00;
}

h2 {
    font-size: 4.258rem;
    letter-spacing: -0.031rem;
    font-weight: 600;
}

h3 {
    font-size: 3.226rem;
    font-weight: 600;
}

h4 {
    font-size: 2.444rem;
    letter-spacing: 0.016rem;
    font-weight: 600;
}

h5 {font-size: 1.851rem;
    font-weight: 600;}

h6 {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: clamp(1.067rem, 2vw, 1.138rem);
    margin: 0;
}

p {
    font-size: clamp(1rem, 2vw, 1.063rem);
}

/*BUTTONS*/
.btn-primary {
    color: var(--white);
    border: solid 1px var(--white);
    height: 3.125rem;
    width: 16.875rem;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.btn-primary:hover {
    transition: all 0.2s ease;
    font-style: normal;
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*HEADER*/
.navbar {
    top: 0;
    width: 100%;
    display: flex;
}

.container {
    margin: 0;
}

.nav-container {
    height: 4.563rem;
    width: 100%;
    display: block;
    position: relative;
}

.logo svg {
    margin-left: 16px;
    margin-top: 0.25rem;
}

.checkbox, .hamburger {
    margin-right: 16px;
    height: 26px;
    width: 34px;
    top: 1.5rem;
    right: 3px;
}

.checkbox {
    position: absolute;
    display: block;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.hamburger {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    background-color: var(--white);
    display: block;
    height: 3px;
}

.line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.line2 {
    transition: transform 0.2s ease-in-out;
}

.line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    display: flex;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-45deg);
}

.navbar .menu-items {
    background-color: var(--gunmetal);
    height: 100vh;
    width: 100%;
    margin-top: -4.75rem;
    margin-left: 0;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
    display: none;
    flex-direction: column;
    text-align: left;
    padding: 8rem 50px 0 50px;
}

.menu-items a {
    color: var(--white);
    font-size: 1.875rem;
    font-weight: 600;
}

.menu-items a:hover {
    color: var(--active);
    transition: all 0.1s ease-in-out;
    font-style: italic;
}

.menu-items li {
    margin-bottom: 3.2rem;
}

.nav-desktop {
    display: none;
}

/*FOOTER*/
footer {
    background-color: var(--gunmetal);
    color: var(--white);
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    gap: 50px;
    overflow: hidden;
}

.footer-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 50px;
    padding: 0 16px;
}

.footer-top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top-text span {
    color: var(--white);
    font-weight: 600;
    line-height: 70%;
    text-align: center;
}

.footer-top-text span:nth-child(1) {
    font-size: clamp(3.875rem, 16vw, 15.25rem);
}

.footer-top-text span:nth-child(2) {
    font-size: clamp(5.813rem, 24vw, 22.625rem);
}

.footer-top-text span:nth-child(3) {
    font-size: clamp(5.625rem, 23vw, 21.75rem);
}

.info-list-container {
    height: 24.125rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.list-items {
    display: flex;
    flex-direction: column;
}

.list-items h6 {
    margin-bottom: 0.25rem;
}

.list-items li {
    font-size: clamp(1rem, 2vw, 1.063rem);
    font-weight: 400;
    line-height: 150%;
}

.socials-container {
    height: 1.25rem;
}

.socials-list {
    width: 12.5rem;
    height: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.socials-list a:hover {
    color: var(--active);
    transition: all 0.1s ease-in-out;
}

.social-icon {
    color: var(--white);
    font-size: 1.5rem;
}

.flex-social-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}

.copyright-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.footer-content-container .line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--white);
}

/* TABLET */
@media (min-width: 768px) {

    /*HEADER*/
    .navbar {
        left: 0;
    }

    .logo svg {
        margin-left: 16px;
        margin-top: 0.313rem;
    }

    .checkbox, .hamburger {
        height: 27px;
        width: 38px;
        top: 1.625rem;
    }

    .navbar .menu-items {
        padding: 8rem 50px 0 8rem;
    }

    .menu-items a {
        font-size: 2.25rem;
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger .line1 {
        transform: rotate(42deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger .line3 {
        transform: rotate(-42deg);
    }

    /*FOOTER*/
    .footer-content-container {
        gap: 0;
    }

    .info-list-container {
        height: 9.563rem;
        display: flex;
        flex-direction: row;
    }

    .footer-top-text {
        margin-top: -1px;
    }
}

/* DESKTOP */
@media (min-width: 1280px) {

    /*HEADER*/
    .toggle-menu-container {
        display: none;
    }

    .navbar {
        left: 0;
        padding: 0 50px;
    }

    .nav-container {
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo svg {
        margin: 0;
    }

    .nav-desktop {
        margin: 0;
        display: flex;
        gap: 60px;
    }

    .nav-desktop a {
        color: var(--white);
        font-weight: 600;
        font-size: 1.5rem;
    }

    .nav-desktop a:hover {
        color: var(--gunmetal);
        font-style: italic;
        transition: all 0.2s ease-in-out;
    }

    /*FOOTER*/
    .footer-content-container {
        padding: 0 50px;
    }

    .info-list-container {
        height: 4.688rem;
        width: 48.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .opening-hours-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}